@import '~@/colors';

.item{
    padding: .35rem;
    font-size: .37rem;
    position: relative;
    background-color: @section;
    margin-top: .4rem;
    color: #d5d5d5;
    .header{
        padding: .1rem 0;
        font-size: .42rem;
        color: #fff;
        > div {
            &:nth-of-type(1){
                flex: 2;
            }
            &:nth-of-type(2){
                text-align: right;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            height: 1px;
            width: 100%;
            top: 1.25rem;
            background-color: @grey;
        }
        span{
            margin-right: .2rem;
            &:nth-of-type(3){
                color: @grey;
                font-size: .35rem;
            }
        }
    }
    .details,.details2{
        margin-top: .5rem;
        border-bottom: 1px solid @grey;
        /*safari*/
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        & > div{
            min-width: 33%;
            width: 33%;
            margin-left: 0;
            margin-bottom: .3rem;
            flex: 0 1 auto;
        }
    }
    .details2{
        margin-top: .3rem;
        & > div{
            min-width: 40%;
            width: 40%;
            flex: 0 1 auto;
        }
    }
    .submit{
        padding: .4rem 0 0;
        & > div{
            flex: 0;
            min-width: 30%;
        }
    }
}
